.card {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  cursor: pointer;
}

.card-enter {
  opacity: 0;
  transform: scale(0);
}

.card-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card-leave {
  transform: scale(1);
  opacity: 1;
}

.card-leave-active {
  opacity: 0;
  transform: scale(0);
  transition: all .15s ease-out;
}

.card-level-number-and-name {
  margin: 40% 0 0 0;
  text-align: center;
}

.card-level-number {
  display: block;
  line-height: 1;
  font-size: 5em;
}

.card-level-name {
  display: block;
  font-size: 1.5em;
}

.card-level-description {
  margin: 0 0 20px 0;
  font-size: 1rem;
  font-weight: normal;
}

@media (max-height: 320px) and (min-width: 480px) {
  .card {
    justify-content: space-around;
  }

  .card-level-number-and-name {
    margin: 0;
  }
}
