.level-1 {
  background-color: rgb(255, 215, 220);
}

.level-2 {
  background-color: rgb(254, 228, 209);
}

.level-3 {
  background-color: rgb(245, 243, 206);
}

.level-4 {
  background-color: rgb(231, 253, 211);
}

.level-5 {
  background-color: rgb(211, 253, 231);
}

.level-6 {
  background-color: rgb(206, 243, 245);
}

.level-7 {
  background-color: rgb(209, 229, 254);
}
