.level {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition: transform .15s ease-out;
}

.level:active {
  transition: transform .15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: scale(1.08);
}

.level:before {
  counter-increment: levels;
  content: counter(levels) ".";
  margin-right: 0.2em;
}

.level-name {
  flex: 1;
  margin: 0;
  font-size: inherit;
}

.level-description {
  flex: 2;
  margin: 0 0 0 1em;
  font-size: 0.8rem;
  font-weight: normal;
}
