.level {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-size: 1.1em;
  font-weight: bold;
}

.level:before {
  counter-increment: levels;
  content: counter(levels) ".";
  margin-right: 0.2em;
}

.level-name {
  flex: 1;
  margin: 0;
  font-size: inherit;
}

.level-description {
  flex: 2;
  margin: 0 0 0 1em;
  font-size: 0.8rem;
  font-weight: normal;
}
